@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300&family=Lexend:wght@200;500&display=swap');



.main {
  min-height: 100vh;
  padding: 0rem 0;
  margin-bottom: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Lexend', monospace;
}

.title h2{
  color: rgb(0, 0, 0);
  font-size: 1.625rem;
  font-weight: 500;
}

.container{
  margin:0;
  padding:0;
}




.question{
  font-size: 1.2rem;
  font-weight: medium;
  color: rgb(78, 75, 75);
  text-align: start;
  margin-bottom: 1rem;
  border-radius: 10px;
  padding: 1rem;
  border: #B8BCC1 solid 1px;
}

.answer{
  font-size: 1.2rem;
  font-weight: 300;
  color: black;
  text-align: start;
  margin: 1rem;
  border-radius: 10px;
  padding: 1rem;
  border: #B8BCC1 solid 1px;
  font-family: 'Lexend', monospace;
}

.answerChosen{
  font-size: 1.2rem;
  font-weight: 300;
  text-align: start;
font-weight: 400;
  border-radius: 10px;
  color: #0070f3;
  border-color: #0070f3;
  font-family: 'Lexend', monospace;
}

.helpcard {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  color: inherit;
  background-color: transparent;
  text-decoration: none;
  border: 1px solid #0a0a0a;
  border-radius: 12px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.helpcard:hover,
.helpcard:focus,
.helpcard:active {
  color: #0070f3;
  border-color: #0070f3;
  cursor: pointer;
}
.helpcard h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.helpcard p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
}
.videoGrid{
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 10px;
 grid-auto-rows: minmax(100px, auto);

}



.questionCard{
  width: 65%;
  height: 100%;


  align-items: left;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  border: #B8BCC1 solid 1px;
  margin-bottom: 1rem;
}


.answer:hover,
.answer:focus,
.answer:active {
  color: #0070f3;
  border-color: #0070f3;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  font-family: 'Lexend', monospace;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 2;
  font-size: 1.625rem;
  width: 100vw;
  color: #333232;
  font-weight: 300;
}


.title,
.description {
  text-align: center;
  
}

.description {
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  color:#8B8080;
}



.grid, .gridcal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  text-align: left;
  color: inherit;
  background-color: #f0f8ff;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}
.practiceCard{
  display: flex;
  justify-content: space-around;
  border: 1px solid #30aa96;
  border-radius: 10px;
  padding: 0.35rem;
  margin-bottom: 1rem;
  transition: color 0.15s ease, border-color 0.15s ease;
}
.practiceCard:hover,
.practiceCard:focus,
.practiceCard:active {
  color: #30aa96;
  border-color: #30aa96;
  cursor: pointer;
}

.iframe{
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  clip-path: inset(0% 0% 0% 0% round 0px);
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;

}

.card:hover,
.card:focus,
.card:active {
  color: #F22D5D;
  border-color: #F22D5D;
  cursor: pointer;
}

.card h2 {
  margin: 0 0 0.625rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 300;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .iframe{
    aspect-ratio: 16/9;
  }
  .gridcal{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .card {
    
    width: 100%;
  }
  .questionCard{
    width: 85%;
    height: 100%;
  }
  .question{
    font-size: 1rem;
    font-weight: medium;
    color: rgb(78, 75, 75);
    text-align: start;
    margin-bottom: 0.5rem;
    border-radius: 10px;
    padding: 0.5em;
    border: #B8BCC1 solid 1px;
    font-family: 'Lexend', monospace;
  }
  .answer{
    font-size: 0.9rem;
    font-weight: 300;
    color: black;
    text-align: start;
    margin: 0.5rem;
    border-radius: 10px;
    padding: 0.5rem;
    border: #B8BCC1 solid 1px;
    font-family: 'Lexend', monospace;
  }
  .videoGrid{
    display: flex;
    flex-direction: column;

  }
  .practiceCard{
    width: 90%;
    justify-content: space-around;
  }
  .helpcard{
    width:100%;
    padding: 1.2rem;
  }
}

.submitButton{
  background-color: #0070f3;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  justify-content: end;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  font-family: 'Lexend', monospace;
}

.submitButtonDisabled{
  background-color: #B8BCC1;
  border: none;
  color: white;
  padding: 10px 16px;
  cursor: none;
  justify-content: end;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  font-family: 'Lexend', monospace;
}

.correctAnswer{
 
  border: none;
  color: rgb(57, 191, 97);
  padding: 10px 16px;

  text-decoration: none;
  display: inline-block;
  
  font-family:  monospace;
}


.button{
  color: rgb(255, 255, 255);
  border-radius: 0.625rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  padding: 0.875rem 1.5rem 1rem;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1;
  border: 0rem;
  cursor: pointer;
  user-select: none;
  transition: transform 200ms ease 0s, background 200ms ease 0s;
  text-align: center;
  background: #2F80FA;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #201bb1;
}






.input{
  border-radius: 40px;
  border: none;
  width: 80%;
  padding: 1rem;
  font-size: 1.2rem;
}

.button{
  background-color:#D05E70;
  border-radius: 40px;
  color: white;
  padding: 0.75rem 1.25rem;
  font-size: 1.2rem;
  
  font-weight: 300;
  border: none;
  cursor: pointer;
  margin: 1rem;
}

.notionbutton{
  background-color:#000000;
  border-radius: 40px;
  color: white;
  padding: 0.75rem 1.25rem;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  margin: 1rem;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #B04D4D;
  border: white 1px solid;
}


.input{
  border-radius: 40px;
  border: none;
  width: 80%;
  padding: 1rem;
  font-size: 1.2rem;
}

.bookgrid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.8rem;
  margin: 0.1rem;
}

.bookcard{
  display: block;
  flex-direction: column;
  align-self: start;
  justify-content: space-around;
  padding: 1.5rem;
  color: inherit;
  background-color: transparent;
  text-decoration: none;
  border-radius: 12px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  max-height: max-content;
}

.bookcard h6{
  margin: 0 0 1rem 0;
  font-size: medium;
  line-height: 1.0625;
  font-weight: 400;
  letter-spacing: .011em;
}


.ellipses{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ellipsesAuthor{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.bookcard p{
  display: block;
  font-weight: 300;
  font-size: small;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #8B8080;
}

.buy{
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  text-align: center;
  white-space: nowrap;
  font-size: 1.063rem;
  line-height: 1.17648;
  font-weight: 400;
  letter-spacing: -.022em;
  min-width: 1.183rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 61.25rem;
  background: #0071e3;
  color: #fff;
  --sk-button-margin-horizontal: 0.875rem;
  --sk-button-margin-vertical: 0.875rem;

}